* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.flex-center {
  align-self: center !important;
}
